body{
  background-image: url("images/readImage.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}
.template{
  margin: auto;
  margin-top: 5%;
  width: 80%;
  text-align: center;
}
.send{
  margin-top: 10px;
}
/*button */
.button{
  color: white;
  display: inline-block;
  background-color: black;;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 36px;
  line-height: 3.6rem;
  font-weight: 400;
  border-radius: 0;
  font-family: "Reader Medium";
  letter-spacing: 1px;
  letter-spacing: .1rem;
  padding: 0 26px;
  padding: 0 2.6rem;
  text-transform: uppercase;
  vertical-align: middle;
}
.button:hover{
  opacity: 0.8;
  color: white;
}
#result {
  text-align: center;
  margin-top: 20px;
}
@media all and (max-width: 960px) {
  

}

@media all and (max-width: 960px) and (min-width: 481px) {

}
@media all and (max-width: 480px) {

 
}
.logo img {

  width: 200px;
}
.navbar {
  background-color: white!important;
  border: none!important;
}
.template {
 width: 950px;
}
.template input {
  height: 55px;
  width: 800px;
}
.template h1 {
  color: white;
  font-size: 24pt;
   text-shadow: 2px 2px black;
   padding: 15px 0 25px 0;
}
